asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.2
django-filter==25.1
djangorestframework==3.16.0
dotenv==0.9.9
idna==3.7
python-dotenv==1.1.0
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.2.2
